* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #0a1128;
  --white-color: white;
  --gap: 3rem;
  --menu-heigth: 8rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
}

.main-bg {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-image: url("../img/main-bg.svg");
  background-size: cover;
  background-position: center center;
  color: var(--primary-color);
  min-height: 100vh;
  color: white;
}

.white-bg {
  background-color: var(--white-color);
  min-height: 100vh;
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.content img {
  width: 100%;
  height: auto;
}

.alinhamento {
  margin: auto 10rem;
}
